/* Font/Resets */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* General */

ul {
  list-style-type: none;
}

main {
  display: flex;
  height: 95vh;
  background-color: #e6efe9;
}
#experience {
  background-color: #c2eaba;
}

#experience,
#projects {
  border-radius: 50px;
  margin: 16px;
  padding: 16px 32px;
  width: 80vw;
}

h6 {
  font-size: 14px;
}

i {
  font-size: 14px;
}

/* header/main info */

aside {
  border-radius: 50px;
  margin: 16px;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: #c5f4e0;
}

.header__img--container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.header__img {
  width: 100%;
  transform: translateY(-30px);
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.header__info--title {
  text-align: center;
  padding: 8px;
  margin-bottom: 8px;
}

.header__links--list {
  display: flex;
}

.header__links--list i {
  font-size: 18px;
  color: black;
}

.header__links--list i:hover {
  color: blue;
}

.header__links--link {
  padding: 8px;
}

.header__links--link:hover {
  transform: scale(1.1);
}

.personal__info {
  margin: 32px;
}

.personal__info--title {
  padding-bottom: 8px;
}

.personal__info--item {
  margin-bottom: 4px;
}

.personal__info--item-link {
  padding-bottom: 8px;
}

.personal__info--item-link > a {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.418);
}

.personal__info--item-link > a:hover {
  color: blue;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__title {
  text-align: center;
  margin-top: 48px;
  padding-bottom: 16px;
}
.skill__item {
  padding: 4px;
  margin: 4px;
  width: 40%;
}

/* experience */

.experience__title {
  margin-bottom: 32px;
}

.experience__item {
  margin: 32px;
}

.experience__item--heading,
.experience__item--subheading {
  margin-bottom: 8px;
}

.experience__item--list {
  padding-left: 28px;
}

.experience__item--list-item {
  list-style-type: circle;
  font-size: 16px;
  line-height: 1.5;
}

/* projects */
#projects {
  background-color: #a7c4a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__container {
  margin: 40px;
}

.project__item--header {
  margin-bottom: 16px;
  text-align: center;
}

.project__item--image-wrapper {
  width: 400px;
}
.project__image {
  width: 100%;
  border-radius: 40px;
  border: 5px solid #e6efe9;
}

.project__image:hover {
  border: 5px solid rgba(20, 112, 192, 0.568);
  transform: scale(1.1);
}
/* footer */

footer {
  background-color: #5a5a5a;
  padding: 16px;
  text-align: center;
  height: 5vh;
}

footer:hover {
  color: white;
}

/* colors */
.colour1 {
  background-color: #e6efe9;
}

.colour2 {
  background-color: #c5f4e0;
}
.colour3 {
  background-color: #c2eaba;
}
.colour4 {
  background-color: #a7c4a0;
}
.colour5 {
  background-color: #8f8389;
}

/* mobile */




/* tablets */

@media screen and (max-width: 600px) {
  body {
  width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  footer {
    height: auto;
  }
  
  aside, #experience, #projects {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-radius: 0;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  h6 {
    font-size: 8px;
  }
  .header__info--title {
    text-align: center;
  }
  .skills {
    text-align: center;
  }
  .skills__title {
    margin-top: 12px;
  }
  .personal__info {
    margin: 18px 32px;
    text-align: center;
  }
}
/* smaller tablets */
@media all and (max-width: 960px) {
  
}

/* tablets */

@media all and (max-width: 1280px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  .personal__info--item-link {
    font-size: 12px;
  }
  .experience__title {
    margin: 8px;
  }

  .experience__item {
    margin: 16px;
  }
  .experience__item--list-item {
    font-size: 12px;
  }


  i {
    font-size: 12px;
  }
}